<div class="newMessageCtn">
  <form action="post" class="newMessageForm" action="/new">
    <div class="newMessage">
      <input type="text" name="message">
    </div>
    <div class="newMessageAuthor">
      <input type="text" name="author">
    </div>
    <button class="messageSubmit" >Submit!</button>
  </form>
</div>